<div id="contactWindow">
    <!-- de sters butonul la imbinare-->
    <button id="contactButton">Contact</button>


    <div id="contactModal" class="modal" style="display: none;">
        <div class="modal-content" id="modalContent">
            <span class="close" id="closeModal">&times;</span>
            <h2>Date de contact</h2>
            <p>Nume: Teodor Petrica</p>
            <p>RSVP: <a href="tel:+40784235543"><i class="fa fa-phone"></i> +40 784 235 543</a></p>
            <div>
                <a href="https://www.facebook.com/profile.php?id=61552744472864" target="_blank">
                    <img src="https://upload.wikimedia.org/wikipedia/en/0/04/Facebook_f_logo_%282021%29.svg" width="32" height="32" alt="Facebook Icon">
                </a>
                
                <a href="https://www.instagram.com/hollywoodhalloween_/" target="_blank">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2048px-Instagram_logo_2016.svg.png" width="32" height="32" alt="Instagram Icon">
                </a>
                
                <a href="https://www.tiktok.com/@hollywoodhallowee" target="_blank">
                    <img src="https://www.tiktok.com/favicon.ico" width="32" height="32" alt="TikTok Icon">
                </a>
            </div>
        </div>
    </div>
    <script src="contact-script.js"></script>
</div>