<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hollywood Halloween</title>
        <link rel="stylesheet" href="hollywood.css">
    </head>

    <body>
    <header>
        <div class="heading">
        <h1 id="main-heading">Hollywood Halloween</h1>
        </div>

        <div class="premiera">
        <h2 class="premiera">O premieră de groază</h2>
        <img class="pumpkin-img" src="./HALLOWEEN/pumpkin.png" alt="poza cu dovleac">
        </div>

        <nav>
            <div class="buton1">
                <a href="https://www.mcdonalds.ro/"> <button class="btn" style="color: AE445A;">Home</button></a>
                <a href="https://www.kfc.ro/"> <button class="btn" style="color: AE445A;">Register</button></a>
                <a href="https://www.pizzahut.ro/"> <button class="btn" style="color: AE445A;">Staff</button></a>
                <a href="https://mysubway.ro/"> <button class="btn" style="color: AE445A;">Contact</button></div></a>
            </div>
        </nav>
    </header>
    