#main-heading {
    text-transform: uppercase;
    background-color: #451952;
    color: #AE445A;
    text-align: center;
    font-family: Riky Vampdator Normal;
    padding: 12px 12px;
    margin: 0;
}

.premiera {
    text-transform: uppercase;
    text-align: center;
    background-color:#662549;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 10px;
    color: #F16821;
}

.buton1 {
    background-color: #662549;
    text-align: center;
    padding-bottom: 10px;
}

.btn {
    text-transform: uppercase;
    background-color:#662549;
    color: #AE445A;
    padding: 12px 12px;
    border-radius: 15px;
    margin: 10px;
}

.btn:hover {
    color: #451952;
}

*{
    font-family: Caudex;
    margin: 0;
    padding: 0;
}