
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="registration.component.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="registrationWindow">
        <!-- de sters butonul la imbinare-->
        <button id="registerButton">Register</button>
    
        <div id="registerModal" class="modal">
            <div class="modal-content">
                <span class="close" id="closeRegister">&times;</span>
                <h2>Formular de inregistrare</h2>
                <form action="http://localhost:3000/register" id="registrationForm" class="two-column-form">
                    <div class="form-group">
                        <label for="prenume">Nume:</label>
                        <input type="text" id="prenume" name="prenume" required>
                    </div>
                
                    <div class="form-group">
                        <label for="nume">Prenume:</label>
                        <input type="text" id="nume" name="nume" required>
                    </div>
                
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                
                    <div class="form-group">
                        <label for="phone">Numar de telefon:</label>
                        <input type="text" id="phone" name="phone" required>
                    </div>
                
                    <div class="form-group">
                        <label for="varsta">Varsta:</label>
                        <input type="text" id="varsta" name="varsta" required>
                    </div>
                
                    <div class="form-group">
                        <button id="registrationButton">Inregistreaza-te</button>
                    </div>
                    
                </form>
                
                
            </div>
        </div>
    
        <script src="registration-script.js"></script>
    </div>
</body>
</html>

