<div id="registrationWindow">
    <!-- de sters butonul la imbinare-->
    <button id="registerButton">Register</button>

    <div id="registerModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeRegister">&times;</span>
            <h2>Formular de inregistrare</h2>
            <form id="registrationForm" class="two-column-form">
                <div class="form-group">
                    <label for="name">Nume:</label>
                    <input type="text" id="name" name="name" required>
                </div>
            
                <div class="form-group">
                    <label for="name">Prenume:</label>
                    <input type="text" id="name" name="name" required>
                </div>
            
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
            
                <div class="form-group">
                    <label for="phone">Numar de telefon:</label>
                    <input type="text" id="phone" name="phone" required>
                </div>
            
                <div class="form-group">
                    <label for="age">Varsta:</label>
                    <input type="text" id="age" name="age" required>
                </div>
            
                <div class="form-group">
                    <button id="registrationButton">Inregistreaza-te</button>
                </div>
                
            </form>
            
            
        </div>
    </div>

    <script src="registration-script.js"></script>
</div>